body {
  overflow-x: hidden;
}

header {
  background: #8F0050; 
  color: #FCEBA7;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: 25px;
  max-width: 100%;
}

header p{
  max-width: 100%;
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.introduction {
  background: #8F0050;
  color: #FCEBA7;
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: 100%;
  position: absolute;
  
}

.introduction p{
  font-size: calc(1.1vw + 1.1vh);
}

.backgroundContainer {
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  max-width: 100%;
  position: relative;
}

.backgroundContainer img {
  width: 100%;
  height: auto;
}

.tree .leaf {
  height: 5%;
  width: 10%;
  border-radius: 2rem;
  cursor: pointer;
}

.tree .leaf img {
  width: 100%;
  height: auto;
  transform: rotateY(180deg) rotateZ(-90deg);
}

#leaf1 {
  position: absolute;
  top: 58%;
  left: 7%;
}

#leaf2 {
  position: absolute;
  top: 49%;
  left: 14%;
}

#leaf3 {
  position: absolute;
  top: 55%;
  left: 20%;
}

#leaf4 {
  position: absolute;
  top: 35%;
  right: 18%;
}

#leaf5 {
  position: absolute;
  top: 45%;
  right: 14%;
}

#leaf6 {
  position: absolute;
  top: 40%;
  right: 30%;
}

.bwv-display-message-box {
  display: none;

  max-width: 42%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  color: white;
  text-align: center;
  font-size: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);

  z-index: 9999999;
}

.bwv-display-message-box p {
  padding: 0;
  margin: 0;
}