
 .backgroundContainer {
   border: 3px solid green;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-inline: auto;
   max-width: 100%;
   position: relative;
   
 }

 .backgroundContainer img {
   width: 100%;
   height: auto;
 }

 .frontLeaf img {
   width: 50%;
   height: auto;
   position: absolute;
   top: 40px;
   left: 40px;
   
 }

 .leaf img {
   width: 50%;
   height: auto;
   margin: 10px;
   cursor: pointer;
   display: inline-block;
   transform-origin: center center;
   position: relative;
 }

 .flippedLeaf img {
   width: 50%;
   height: auto;
   margin: 10px;
   cursor: pointer;
   display: inline-block;
   transform: rotateY(180deg);
   transform-origin: center center;
   position: relative;  
 }

 .tree {
   display: flex;
   flex-wrap: wrap;
   max-width: 500px;
 }